<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/css/description.css">
</head>
<%- include("./partials/header.ejs") %>
<body>
    <h1><%= game.name %></h1>
    <img src="<%= game.link %>" alt="<%= game.name %>">
    <div>
        <%=game.description  %>
    </div>

    <form action="/home/game/<%= game.id %>" method="post">
        <input type="hidden" name="gameid" value="<%= game.id %>">
        <button type="submit" >Delete</button>
    </form>
    <script src="/script/frontend.js"></script>
</body>
<%- include("./partials/footer") %>
</html>