<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= name %> Page</title>
    <link rel="stylesheet" href="/css/description.css">
</head>
<%- include("./partials/header.ejs") %>
<body>
    <h1><%= game.name %></h1>
    <img src="<%= game.link %>" alt="<%= game.name %>">
    <div>
        <%=game.description  %>
    </div>
</body>
</html>