<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= name %> Page</title>
    <link rel="stylesheet" href="/css/description.css">
</head>
<%- include("./partials/header.ejs") %>
<body>
    <a data-game="<%= game.id %>">Delete</a>
    <h1><%= game.name %></h1>
    <img src="<%= game.link %>" alt="<%= game.name %>">
    <div>
        <%=game.description  %>
    </div>

    <form action="/home/<%= game.id %>" method="post">
        <input type="hidden" name="gameid" value="<%= game.id %>">
        <button type="submit" >Delete</button>
    </form>
    <script src="/script/frontend.js"></script>
</body>
</html>